<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="start">
      <ion-back-button></ion-back-button>
      <!-- <ion-menu-button></ion-menu-button> -->
    </ion-button>
    <ion-title>Botões</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Botão Padrão</h3>
  <ion-button>Simples</ion-button>
  <ion-button href="#">Link</ion-button>
  <ion-button color="primary">primary</ion-button>
  <ion-button color="secondary">secondary</ion-button>
  <ion-button color="tertiary">tertiary</ion-button>
  <ion-button color="success">success</ion-button>
  <ion-button color="warning">warning</ion-button>
  <ion-button color="danger">danger</ion-button>
  <ion-button color="light">light</ion-button>
  <ion-button color="medium">medium</ion-button>
  <ion-button color="dark">Dark</ion-button>
  
  <h3>Botão com Expanded</h3>
  <ion-button expand="full">Full-quadradinho</ion-button>
  <ion-button expand="block">Block-arredondado</ion-button>

  <h3>Botão com fill</h3>
  <ion-button expand="full" fill="outline">outline + Full</ion-button>
  <ion-button expand="block" fill="outline">outline + Block</ion-button>
  <ion-button shape="round" fill="outline">outline + Round</ion-button>
  <h3>Botão Arredondado</h3>
  <ion-button shape="round" fill="outline">outline + Round</ion-button>
</ion-content>
