<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="start">
      <ion-back-button></ion-back-button>
      <!-- <ion-menu-button></ion-menu-button> -->
    </ion-button>
    <ion-title>Alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expande="block" color="secondary" (click)="Alert()">Alert</ion-button>
  <ion-button expande="block" color="primary" (click)="Multiple()">Alert Multiple</ion-button>
  <ion-button expande="block" color="dark" (click)="Confirm()">Alert Confirm</ion-button>
  <ion-button expande="block" color="primary" (click)="Prompt()">Alert Prompt</ion-button>

</ion-content>
